* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 400;

  list-style-type: none;
}

ol,
ul {
  padding: 0 !important;
}

.wrapper-store {
  width: 80%;
  min-height: 1000px;
  margin: 120px auto 0;
  padding-bottom: 40px;
}
